<article [routerLink]="['villas/' + villa.id]" class="villa-card card shadow">
<!--  <img *ngIf="villa.images.length" class="card-img-top" [src]="villa.images[0]" alt="">-->
  <div class="card-body">
    <h5 class="card-title mb-4">{{villa.title}}</h5>
    <div class="mb-3 d-flex justify-content-between">
      <h6 class="card-subtitle text-muted">{{villa.city}}</h6>
      <h6 class="card-subtitle text-muted">{{numLatinToFa(villa.price)}} تومان</h6>
    </div>
    <p class="card-text">{{villa.details | slice:0:128}}...</p>
  </div>
</article>

