// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$villa-finder-primary: mat.define-palette(mat.$teal-palette);
$villa-finder-accent: mat.define-palette(mat.$teal-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$villa-finder-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$villa-finder-theme: mat.define-light-theme((
  color: (
    primary: $villa-finder-primary,
    accent: $villa-finder-accent,
    warn: $villa-finder-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($villa-finder-theme);

@font-face {
  font-family: "Vazir";
  src: url("assets/fonts/Vazir.eot"),
  url("assets/fonts/Vazir.eot?#iefix") format("embedded-opentype"),
  url("assets/fonts/Vazir.woff2") format("woff2"),
  url("assets/fonts/Vazir.woff") format("woff"),
  url("assets/fonts/Vazir.ttf") format("truetype");
}

@font-face {
  font-family: "Pattaya";
  src: url("assets/fonts/Pattaya.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Vazir, serif;
}

a {
  color: black;
  text-decoration: none !important;
  cursor: pointer;
}

ul {
  list-style-type: none !important;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Vazir", Roboto, "Helvetica Neue", sans-serif;
}

.center {
  display: flex;
  justify-content: center;
}

.logo {
  font-size: 2.5rem;
  color: #00bfa5 !important;
  font-family: "Pattaya", Roboto, "Helvetica Neue", sans-serif;
}
