@use '@angular/material' as mat;

@include mat.core();

$villa-finder-primary: mat.define-palette(mat.$teal-palette);
$villa-finder-accent: mat.define-palette(mat.$teal-palette, A200, A100, A400);
$villa-finder-warn: mat.define-palette(mat.$red-palette);

$villa-finder-theme: mat.define-light-theme((
  color: (
    primary: $villa-finder-primary,
    accent: $villa-finder-accent,
    warn: $villa-finder-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

@include mat.all-component-themes($villa-finder-theme);

@font-face {
  font-family: "Vazir";
  src: url("assets/fonts/Vazir.eot"),
  url("assets/fonts/Vazir.eot?#iefix") format("embedded-opentype"),
  url("assets/fonts/Vazir.woff2") format("woff2"),
  url("assets/fonts/Vazir.woff") format("woff"),
  url("assets/fonts/Vazir.ttf") format("truetype");
}

@font-face {
  font-family: "Pattaya";
  src: url("assets/fonts/Pattaya.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Vazir, serif;
}

a {
  color: black;
  text-decoration: none !important;
  cursor: pointer;
}

ul {
  list-style-type: none !important;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Vazir", Roboto, "Helvetica Neue", sans-serif;
}

.center {
  display: flex;
  justify-content: center;
}

.logo {
  font-size: 2.5rem;
  color: #00bfa5 !important;
  font-family: "Pattaya", Roboto, "Helvetica Neue", sans-serif;
}

.bg-light-gray{
  background-color: #fdfdfd;
}
