<footer>
  <div class="container">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-9 text-center">
          <div class="mb-4">
            <a class="logo" routerLink="/">Venus</a>
          </div>
          <ul class="list-unstyled nav-links mb-5">
            <li><a class="text-light" routerLink="/">خانه</a></li>
            <li><a class="text-light">افزودن آگهی</a></li>
            <li><a class="text-light">درباره ی ما</a></li>
            <li><a class="text-light">تماس با ما</a></li>
          </ul>

          <div class="social mb-4">
            <h3 class="text-light">با ما در ارتباط باشید</h3>
            <ul class="list-unstyled">
              <li class="fs-3"><a href="https://github.com/venus-software-team">
                <fa-icon class="text-light" [icon]="['fab', 'github']"></fa-icon>
              </a></li>
              <li class="fs-3"><a href="#">
                <fa-icon class="text-light" [icon]="['fab', 'telegram']"></fa-icon>
              </a></li>
              <li class="fs-3"><a href="#">
                <fa-icon class="text-light" [icon]="['fab', 'instagram']"></fa-icon>
              </a></li>
              <li class="fs-3"><a href="#">
                <fa-icon class="text-light" [icon]="['fab', 'linkedin']"></fa-icon>
              </a></li>
            </ul>
          </div>

          <div class="copyright">
            <p class="mb-0 text-light"><small dir="ltr">&copy; Venus. All Rights Reserved.</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
