<app-navbar [theme]="'light'"></app-navbar>
<app-header></app-header>
<div id="banner-container" class="w-100 d-flex justify-content-center align-items-center">
  <img src="assets/images/banner.png" alt="banner" id="banner" class="w-50">
</div>
<div style="height: 100px; overflow: hidden">
  <svg
    viewBox="0 0 500 150"
    preserveAspectRatio="none"
    style="height: 100%; width: 100%"
  >
    <path
      d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
      style="stroke: none; fill: #fdfdfd"
    ></path>
  </svg>
</div>
<app-villas-list></app-villas-list>
<div style="height: 100px; overflow: hidden">
  <svg
    viewBox="0 0 500 150"
    preserveAspectRatio="none"
    style="height: 100%; width: 100%"
  >
    <path
      d="M0.00,49.98 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z"
      style="stroke: none; fill: #fdfdfd"
    ></path>
  </svg>
</div>
<div style="height: 150px; overflow: hidden">
  <svg
    viewBox="0 0 500 150"
    preserveAspectRatio="none"
    style="height: 100%; width: 100%"
  >
    <path
      d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
      style="stroke: none; fill: #2d3032"
    ></path>
  </svg>
</div>
<app-footer></app-footer>
