<app-navbar [theme]="'dark'"></app-navbar>
<div style="height: 100px; overflow: hidden;margin-top: 8rem">
  <svg
    viewBox="0 0 500 150"
    preserveAspectRatio="none"
    style="height: 100%; width: 100%"
  >
    <path
      d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
      style="stroke: none; fill: #fdfdfd"
    ></path>
  </svg>
</div>
<div class="bg-light-gray">
  <div class="container">
    <header class="mb-5">
      <h1>{{villa.title}}</h1>
      <h5> مهمان {{villa.landLord}}</h5>
    </header>
    <div class="row gx-5">
      <div class="col-6">
        <ul class="p-0 mb-5">
          <li class="mb-3 fs-5">
            <fa-icon class="pe-2 fs-6" [icon]="['fas','location-dot']"></fa-icon>
            {{villa.state}}، {{villa.city}}
          </li>
          <li class="mb-3 fs-5">
            <fa-icon class="pe-2 fs-6" [icon]="['fas','bed']"></fa-icon>
            {{numLatinToFa(villa.bedrooms)}} اتاق خواب
          </li>
          <li class="mb-3 fs-5">
            <fa-icon class="pe-2 fs-6" [icon]="['fas','money-bill']"></fa-icon>
            {{numLatinToFa(villa.price)}} تومان <span class="text-muted fs-6">/هر شب</span>
          </li>
          <li class="mb-3 fs-5">
            <fa-icon class="pe-2 fs-6" [icon]="['fas','phone']"></fa-icon>
            <a [href]="'tel:'+villa.phone">{{phoneLatinToFa(villa.phone)}}</a>
          </li>
          <li class="mb-3 fs-5">
            <fa-icon class="pe-2 fs-6" [icon]="['fas','envelope']"></fa-icon>
            <a [href]="'mailto:'+villa.email">{{villa.email}}</a>
          </li>
        </ul>
        <div class="mb-5">
          <h3>توضیحات</h3>
          <p>{{villa.details}}</p>
        </div>
        <div>
          <h3 class="mb-4">موقعیت مکانی ویلا</h3>
          <app-villa-map [coordinate]="coordinate"></app-villa-map>
        </div>
      </div>
      <div class="col-6">
        <app-gallery *ngIf="villa" [imagesSrc]="villa.images"></app-gallery>
      </div>
    </div>
  </div>
</div>
<div style="height: 100px; overflow: hidden">
  <svg
    viewBox="0 0 500 150"
    preserveAspectRatio="none"
    style="height: 100%; width: 100%"
  >
    <path
      d="M0.00,49.98 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z"
      style="stroke: none; fill: #fdfdfd"
    ></path>
  </svg>
</div>
<div style="height: 150px; overflow: hidden">
  <svg
    viewBox="0 0 500 150"
    preserveAspectRatio="none"
    style="height: 100%; width: 100%"
  >
    <path
      d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
      style="stroke: none; fill: #2d3032"
    ></path>
  </svg>
</div>
<app-footer></app-footer>
