<nav class="navbar navbar-expand-lg bg-transparent w-100">
  <div class="container">
    <a class="navbar-brand text-white" routerLink="/">لوگو</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-5 mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">خانه</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">افزودن آگهی</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">تماس با ما</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">درباره ما</a>
        </li>
      </ul>
      <div class="ms-auto nav-item"><a>ورود</a></div>
    </div>
  </div>
</nav>
