<div id="carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner h-100">
    <div class="carousel-item active h-100" data-bs-interval="5000">
      <img src="../../../assets/images/1.jpg" class="d-block w-100 h-100" alt="...">
    </div>
    <div class="carousel-item h-100" data-bs-interval="5000">
      <img src="../../../assets/images/2.jpg" class="d-block w-100 h-100" alt="...">
    </div>
    <div class="carousel-item h-100" data-bs-interval="5000">
      <img src="../../../assets/images/3.jpg" class="d-block w-100 h-100" alt="...">
    </div>
  </div>
</div>
